body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #3498db, #c0392b); /* Cores azul e vermelho */
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
}

h2 {
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #fff;
}

input {
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 8px;
    background-color: #2ecc71; /* Cor verde */
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60; /* Cor verde mais escura ao passar o mouse */
}

.error-box {
    background-color: #e74c3c; /* Cor vermelha */
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: none; /* Inicialmente oculta */
}
